@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300&family=Playfair+Display:ital,wght@0,400&display=swap');

header {
    margin: 0;

}

body {
    font-family: "Open-Sans", sans-serif;
    color: #777777;
}

#footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}