@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Raleway:wght@300&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #E0AAFF;    
    text-align: center;
}

.raleway-text {
    font-family: Raleway, serif;
}

.row {
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: #E0AAFF; 
}

.nav-text {
    font-size: 2vw;
}

/*Home*/

.main {
    margin-top: 0px;
}

.jumbotron {
    background-color: transparent; 
    background: url("../images/marfa.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
}

.jumbotron-text {
    font-family: "Oswald", sans-serif;
    color: #E0AAFF;
    padding-top: 25rem;
    text-shadow: -1px 0 #5a189a, 0 1px #5a189a, 1px 0 #5a189a, 0 -1px #5a189a;
}

.jumbotron-text p {
    font-size: 10rem;
    text-align: center;
}
/*Sections*/

.section-container {
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.section-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-lg {
    font-size: 8rem;
}

.section-text-md {
    font-family: "Raleway", serif;
    font-size: 5rem;
}

.section-text-sm {
    font-family: "Raleway", serif;
    font-size: 3rem;
}

.section-text-xs {
    font-family: "Raleway", serif;
    font-size: 2rem;
}

.add-event-text {
    padding-top: 3rem;
}

.attach-cv {
    display: block;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
    text-align: left;
}

/*Forms and Buttons*/

.contact-button {
    font-size: 2rem;
}

.contact-form {
    padding-bottom: 3.5rem;
    width: 80rem;
}

.form-name {
    padding-bottom: 3.5rem;
}

.form-class {
    padding-bottom: 2rem;
}

.checkbox-label {
    padding-left: 1rem;
}

/*Colors*/

.btn-color {
    background-color: #E0AAFF;
}

.link-color {
    color: #E0AAFF;
}

.calendar-color{
    background-color: #9d4edd;
}

.weather-color{
    background-color: #7b2cbf;
}

.about-color{
    background-color: #5a189a;
}

.apply-color{
    background-color: #3c096c;
}

.contact-color{
    background-color: #240046;
}

/*Footer*/

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    background-color: #3c096c;
    height: 3.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
}
