@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Raleway:wght@300&display=swap');

.raleway-text {
    font-family: Raleway, serif;
}

/*-------------------------------------------------Header*/
header {
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: #E0AAFF; 
}

.nav-color {
    color: #E0AAFF
}
/*-------------------------------------------------Body*/

body {
    font-family: "Oswald", sans-serif;
    color: #E0AAFF;
}

/*-------------------------------------------------Home*/

.home-container{
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #E0AAFF;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #E0AAFF;
    background-color: #3C096C;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 10px 600px;
    opacity: 0.6;
}

#home-image {
    width: 100%;
    height: auto;
}

/*-------------------------------------------------Calendar*/

.calendar-container{
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    background-color: #9d4edd;
}



/*-------------------------------------------------Weather*/

.weather-container{
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    background-color: #7b2cbf;
}

/*-------------------------------------------------About Us*/

.about-container{
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    background-color: #5a189a;
}

/*-------------------------------------------------Apply*/

.apply-container{
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    background-color: #3c096c;
}

/*-------------------------------------------------Contact Us*/

.contact-container{
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    background-color: #240046;
}

/*-------------------------------------------------Footer*/g

#footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    background-color: #10002b;
}

